<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>
<body>
    <header id="header">
        <div class="header__navbar">
            <div class="header__navbar__list">
                <a href="/home">Home</a>
            </div>
            <div class="header__navbar__list">
                <a href="/Category">Category</a>
            </div>
            <div class="header__navbar__logout">
                <a  href='#' onclick="LogOut()">LogOut</a>
            </div>
        </div>
    </header>
    <container id="container">
        <div class="container__body">
            <div class="container__body__inforuser">
                <div class="body__inforuser__left">
                    <div class="inforuser__left__img">
                        <img src="https://scontent.fhan2-2.fna.fbcdn.net/v/t39.30808-6/272807867_669874974031082_8247604913488167459_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=aXd6xuXwvr4AX8uijj1&_nc_ht=scontent.fhan2-2.fna&oh=00_AT_zkDEo53cSIoK6hgHdff0GFqzy-gVPow9OMsr_zuj1rA&oe=623F6732" alt="">
                    </div>
                    <div class="inforuser__left__desc">
                        <p id="Name"><p>
                    </div> 
                </div>
                <div class="body__inforuser__right">
                    <div class="inforuser__right__content">
                        <p>Name: <span id="NameUser"></span></p>
                        <p>Age: <span id="Age"></span></p>
                        <p>Email: <span id="Email"></span></p>
                        <p>Groups: <span id="GroupNames"></span></p>
                    </div>
                </div>
            </div>
            <div class="container__body__main">
                <div class="table__groupuser">
                    <table id="TableUsers">
                        
                    </table>
                      <div class="main__table__content">
                          <h6>Table Users</h6>
                      </div>
                </div>
                <div class="table__articles">
                    <table id="TableGroups">
                       
                    </table>
                      <div  class="main__table__content">
                          <h6>Table Groups</h6>
                      </div>
                </div>
            </div>
        </div>
    </container>
    <div id="modal" onclick="CloseChangeGroup()">
        <div class="modal__container">
            <div class="modal__container__close">
                <i class="far fa-window-close" onclick="CloseChangeGroup()"></i>
            </div>
            <div class="model__container__UserName">
                <h3>UserName:<span></span></h3>
            </div> 
            <div class="modal__container__selectegroup">
                
            </div>
            <div class="modal__container__buttongroup">
                <input type="button" value="OK" onclick="ChangeGroup()">
            </div>
        </div>
    </div>
    <script>
        var listGroup;
        var listGroupOfUser; 
        if (localStorage.getItem("Token") && checkAuthor())
        {
            getUserGroups();
            getGroups();   
        }
        else
        {
            window.location='/login/';
        }
        function checkAuthor()
        {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() 
            {
                if(xhttp.status==403)
                {    
                    localStorage.removeItem('Token');
                }
                var userJson=xhttp.responseText;
                var user= JSON.parse(userJson);
                
                if(xhttp.status==200)
                {
                    document.getElementById('Name').innerText=user['UserName'];
                    document.getElementById('NameUser').innerText=user['UserName'];
                    document.getElementById("Age").innerText=user['Age'];
                    document.getElementById("Email").innerText=user['Email'];
                    document.getElementById("GroupNames").innerText =user['GroupNames'];

                }
                else 
                {
                    
                    window.location='/login/';
                }
            }            
            xhttp.open("GET", "/api/v1.0/user",false);
            token = localStorage.getItem("Token");
            authorizationHeader ='Bearer '+token;
            xhttp.setRequestHeader("Authorization",authorizationHeader);
            xhttp.send();
            return true
        }
        function getUserGroups()
        {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() 
            {
                if(xhttp.status==403)
                {
                    
                    document.getElementById('TableUsers').innerHTML='<h1>bạn không có quyền lấy thông tin của các User<h1>'  
                }
                var userGroupJsons=xhttp.responseText;
                var userGroups= JSON.parse(userGroupJsons);
                listGroupOfUser=userGroups
                if(xhttp.status==200)
                {
                    userTableHtml = '<tr><th>UserName</th><th>Group</th></tr>';
                    for (var i in userGroups)
                    {
                        userTableHtml+='<tr><th>'+userGroups[i]['UserName']+'</th><th>'+String(userGroups[i]['ListGroup'])+'<i class="fas fa-edit" ></i>'+'</th></tr>';
                    }
                    document.getElementById("TableUsers").innerHTML=userTableHtml;
                }
                
            }            
            xhttp.open("GET", "/api/v1.0/userandgroupuser",false);
            token = localStorage.getItem("Token");
            authorization ='Bearer '+token;
            xhttp.setRequestHeader("Authorization",authorization);
            xhttp.send();
        }
        function getGroups()
        {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() 
            {
                if(xhttp.status==403)
                {
                    document.getElementById('TableGroups').innerHTML='<h1>bạn không có quyền lấy thông tin của các User<h1>'
                }
                var groupJsons=xhttp.responseText;
                var groups= JSON.parse(groupJsons);
                listGroup=groups;
                if(xhttp.status==200)
                {
                    groupTableHtml = '<tr><th>IdGruop</th><th>GroupName</th></tr>';
                 
                    for (var i in groups)
                    {
                        groupTableHtml+='<tr><th>'+groups[i]['id']+'</th><th>'+groups[i]['GroupName']+'</th></tr>';
                    }
                    document.getElementById("TableGroups").innerHTML=groupTableHtml;
                }
            }            
            xhttp.open("GET", "/api/v1.0/groups",false);
            token = localStorage.getItem("Token");
            authorization ='Bearer '+token
            xhttp.setRequestHeader("Authorization",authorization);
            xhttp.send();
        }
        function LogOut()
        {
            window.location="/login/";
            localStorage.removeItem('Token');
        }
        modal = document.querySelector('#modal')
        modalContainer= document.querySelector('.modal__container')
        function editGroupforUser(groups)
        {
            modal.classList.add('js-changegroup');
            GetDataEditGroup(groups);
        }
        function CloseChangeGroup()
        {
            modal.classList.remove('js-changegroup');
        }
        modalContainer.addEventListener('click',function(event)
        {
            event.stopPropagation();
        })
        var iconchange;
        icon=document.querySelectorAll('.fas.fa-edit');
        icon.forEach(function(element){
            element.addEventListener("click",function()
            {
                iconchange=element;
                editGroupforUser(element.parentElement.parentElement.children[1].innerText);
                userNameEditGroup = document.querySelector('.model__container__UserName h3 span').innerHTML=element.parentElement.parentElement.children[0].innerText;
            }

            )
        })
        function GetDataEditGroup(groups)
        {
            
            modalContainerSelectegroup=document.querySelector('.modal__container__selectegroup');
            groupArray=groups.split(',');
            modalContainerSelectegroupHtml=''
            for(var i in listGroup)
            {

                if( groupArray.includes(listGroup[i]['GroupName']))
                {
                    modalContainerSelectegroupHtml+='<div class="selectedgroup__button"><input type="checkbox" id='+ listGroup[i]['GroupName']+' value='+ listGroup[i]['GroupName']+' checked ><label for='+listGroup[i]['GroupName']+'>'+listGroup[i]['GroupName']+'</label></div>';
                }
                else
                {
                    modalContainerSelectegroupHtml+='<div class="selectedgroup__button"><input type="checkbox" id='+ listGroup[i]['GroupName']+' value='+ listGroup[i]['GroupName']+'><label for='+listGroup[i]['GroupName']+'>'+listGroup[i]['GroupName']+'</label></div>';
                }
            }
            modalContainerSelectegroup.innerHTML=modalContainerSelectegroupHtml;
        }   
        function ChangeGroup()
        {
            checkGroups=document.querySelectorAll(".selectedgroup__button input");
            groups=[]
            checkGroups.forEach(function(element)
            {
                if(element.checked)
                {
                    groups.push(element.value)
                }
            })

            function getCookie(name) 
            {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') 
                {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) 
                    {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) 
                        {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            var csrfToken = getCookie('csrftoken');
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() 
            {
                var userGroupResponseJson=xhttp.responseText;
                var userGroups= JSON.parse(userGroupResponseJson);
                if(xhttp.status==200)
                {
                    modal.classList.remove('js-changegroup');
                    iconchange.parentElement.parentElement.children[1].innerHTML=String(userGroups['ListGroup'])+'<i class="fas fa-edit"></i>'
                    icon=document.querySelectorAll('.fas.fa-edit');
        icon.forEach(function(element){
            element.addEventListener("click",function()
            {
                iconchange=element;
                editGroupforUser(element.parentElement.parentElement.children[1].innerText);
                userNameEditGroup = document.querySelector('.model__container__UserName h3 span').innerHTML=element.parentElement.parentElement.children[0].innerText;
            }

            )
        })
                }
                else
                {
                    
                }
            }         
            const userGroupInfo={
                UserName:document.querySelector('.model__container__UserName h3 span').innerHTML,
                ListGroup:groups
            }
            postData=JSON.stringify(userGroupInfo)
            xhttp.open("POST", "/api/v1.0/userandgroupuser",false);
            xhttp.setRequestHeader("Content-type","application/json")
            xhttp.setRequestHeader("X-CSRFToken", csrfToken);
            xhttp.send(postData)
        }
    </script>
</body>
</html>